
// Settings SASS from \App\Helpers\Upload::resourceInit();

$primary: #ff5e5e;
$dark: #000;
$secondary: #6c757d;
$light: #eceff1;
$light-light: #fafafa;
$transition: .5;
$primary-admin: #78909c;
$dark-admin: #292b37;
$light-admin: #eceff1;
$gray-blue: #78909c;
$transition-admin: .5;
$path-img: '/img';
