@import "init";

$primary: $primary;
$white: #fff;
$black: #000;
$gray-600: $secondary;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'light': $light,
    'dark': $dark
);

$spacer: 1rem;
$link-hover-decoration: none;

// Font
$enable-responsive-font-sizes: true; // Адаптивный шрифт

//$font-family-base: 'Roboto', 'Arial', sans-serif;
$font-size-base: .9rem; // 14.4px
$font-size-base-sm: $font-size-base * .8;
$h1-font-size: $font-size-base * 1.95;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.6;
$headings-font-weight: 400;

// Line-height
$line-height-sm: 1.2;
$line-height: 1.4;
$line-height-lg: 1.5;

// Border-radius
$border-radius: .15rem;
$border-radius-lg: .2rem;
$border-radius-sm: .1rem;

// Тень
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075);
$box-shadow: 0 .5rem 1rem rgba($black, .15);
$box-shadow-lg: 0 1rem 3rem rgba($black, .175);

// Breadcrumb
$breadcrumb-bg: transparent;
$breadcrumb-padding-x: 0;
$breadcrumb-margin-bottom: .5rem;
$breadcrumb-divider: quote('-');

// Every
$table-accent-bg: $light-light;
$input-btn-focus-color: rgba($gray-600, .25);
$custom-select-focus-box-shadow: rgba($gray-600, .25);

$custom-file-text: (
    en: 'Browse',
    ru: 'Просмотр'
);


// Подключение стилей Bootstrap
@import "bootstrap";
