@import "params";

// Ссылки
$link-hover-decoration: none;

// Font
$enable-responsive-font-sizes: true; // Адаптивный шрифт

$h1-font-size: $font-size-base * 1.95;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.6;
$h4-font-size: $font-size-base * 1.4;
$h5-font-size: $font-size-base * 1.2;
$headings-font-weight: 400;

// Breadcrumb
$breadcrumb-bg: transparent;
$breadcrumb-padding-x: 0;
$breadcrumb-margin-bottom: .5rem;
//$breadcrumb-divider: quote('-');

// Every
//$table-accent-bg: $light-light;
$input-btn-focus-color: rgba($gray-600, .25);
$custom-select-focus-box-shadow: rgba($gray-600, .25);

$custom-file-text: (
    en: 'Browse',
    ru: 'Просмотр'
);


// Подключение стилей Bootstrap
@import "bootstrap";
