@import "../config/mixins";
@import "../config/blocks";


.search_js {
    position: relative;
    &__child {
        display: none;
        position: absolute;
        top: 2.7rem;
        width: 32rem;
        padding: 0 $spacer;
        background-color: $white;
        box-shadow: $box-shadow-lg;
        z-index: $z-index-min - 9;
        &--link {
            padding: .4rem 1.6rem;
            display: block;
            @include transition();
            &:hover {
                background-color: $gray-100;
            }
        }
        &.active {
            display: block;
        }
    }
}



@media (max-width: $sm) {
    .search_js {
        &__child {
            width: 18rem;
        }
    }
}
