@import "../config/params";
@import "../config/mixins";
@import "../config/blocks";

// Затемнение всего
.backdrop-kd {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $backdrop;
    z-index: $z-index-min - 8;
}

#spinner {
    display: none;
    .spinner-block {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($white, .85);
        z-index: $z-index-normal;
        @include flex-c();
        & > div {
            width: 14rem;
            height: 14rem;
        }
    }
}

#btn-up {
    position: fixed;
    bottom: $spacer * 1.3;
    right: $spacer * 1.5;
    z-index: $z-index-normal;
    width: 2rem;
    height: 2rem;
    fill: $white;
    border-radius: 50%;
    cursor: pointer;
    @include flex-center();
    @include hover(rgba($black, .5), $black, background);
}

.grecaptcha-badge {
    visibility: hidden;
}
