@import "../config/mixins";
@import "params";


// Уменьшение и увеличение в 0
.scale-in {
    transform: scale(1) !important;
    @include transition();
}
.scale-out {
    transform: scale(0) !important;
    @include transition();
}

.pulse {
    position: relative;
    overflow: hidden;
    .pulse_js {
        position: absolute;
        border-radius: 50%;
        transform: scale(0);
        animation: pulse-to $transition ease-out;
    }
}
@keyframes pulse-to {
    to {
        transform: scale(2);
        background-color: $white;
        opacity: 0;
    }
}
