@import "../config/mixins";
@import "../config/blocks";


.filter {
    padding: $spacer;
    border: 1px solid $light;

    &_sort {
        margin-top: $spacer * 1.3;
        text-align: right;
        font-size: 1.1rem;
    }
}
